{% extends "base.html" %}
{% block content %}
<img src="static/photosynthesis.jpg", width="500", height="500">
<p>
    In photosynthesis, a plant takes in carbon dioxide and water, then uses
chloroplasts that have clorophyll in them to absorb sunlight.  This sunlight captured as solar energy,
    and is used to convert the carbon dioxide and water into glucose, used in many different ways in
    the plant, and oxygen, a byproduct in photosynthesis.
</p>
<img src="static/Cellular_Respiration.jpg", width="400", height="200">
<p>
    In cellular respiration, the cell takes in oxygen, food, and water, and then uses them to create energy (ATP).  There are 3 different processes that occur in cellular respiration.  First, the cell goes through glycolysis, and generates 2 ATP.  The next process that happens is the Krebs Cycle, which also produces 2 ATP.  Finally, the Electron Transport System creates 34 ATP. The main byproduct of cellular respiration is carbon dioxide, which is used in photosynthesis.
</p>
{% endblock %}