{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
    <h1>Hello!  Welcome to Group 4's Science Cell-fie project.  Make sure to check out our video and diagrams!</h1>
    </div>
</div>
<div class="container">
    <h3>By: Jasper Ho, Jake Nguyen, Bryan Do, and Gurnaj Virk</h3>
</div>
{% endblock %}